.fri {
  display: inline-block;
  vertical-align: middle;
}

.fri-apple-btn {
  background-image: url('../images/icons-s0203c4eadd.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 72px;
  width: 208px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-apple-btn {
    background-image: url('../images/icons-2x-s78e8059456.png');
    background-size: 230px auto;
    background-position: 0 0;
    height: 72px;
    width: 208px;
  }
}

.fri-google-btn {
  background-image: url('../images/icons-s0203c4eadd.png');
  background-position: 0 -77px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 72px;
  width: 230px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-google-btn {
    background-image: url('../images/icons-2x-s78e8059456.png');
    background-size: 230px auto;
    background-position: 0 -77px;
    height: 72px;
    width: 230px;
  }
}

.fri-facebook {
  background-image: url('../images/icons-s0203c4eadd.png');
  background-position: 0 -259px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-facebook {
    background-image: url('../images/icons-2x-s78e8059456.png');
    background-size: 230px auto;
    background-position: 0 -259px;
    height: 30px;
    width: 15px;
  }
}

.fri-vk {
  background-image: url('../images/icons-s0203c4eadd.png');
  background-position: 0 -294px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-vk {
    background-image: url('../images/icons-2x-s78e8059456.png');
    background-size: 230px auto;
    background-position: 0 -294px;
    height: 18px;
    width: 32px;
  }
}

.fri-youtube {
  background-image: url('../images/icons-s0203c4eadd.png');
  background-position: 0 -317px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-youtube {
    background-image: url('../images/icons-2x-s78e8059456.png');
    background-size: 230px auto;
    background-position: 0 -317px;
    height: 18px;
    width: 22px;
  }
}

.fri-smile {
  background-image: url('../images/icons-s0203c4eadd.png');
  background-position: 0 -430px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-smile {
    background-image: url('../images/icons-2x-s78e8059456.png');
    background-size: 230px auto;
    background-position: 0 -430px;
    height: 40px;
    width: 40px;
  }
}

.fri-normal {
  background-image: url('../images/icons-s0203c4eadd.png');
  background-position: 0 -340px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-normal {
    background-image: url('../images/icons-2x-s78e8059456.png');
    background-size: 230px auto;
    background-position: 0 -340px;
    height: 40px;
    width: 40px;
  }
}

.fri-sad {
  background-image: url('../images/icons-s0203c4eadd.png');
  background-position: 0 -385px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-sad {
    background-image: url('../images/icons-2x-s78e8059456.png');
    background-size: 230px auto;
    background-position: 0 -385px;
    height: 40px;
    width: 40px;
  }
}

.fri-icon-alert {
  background-image: url('../images/icons-s0203c4eadd.png');
  background-position: 0 -154px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-icon-alert {
    background-image: url('../images/icons-2x-s78e8059456.png');
    background-size: 230px auto;
    background-position: 0 -154px;
    height: 100px;
    width: 100px;
  }
}

.fri-star-full {
  background-image: url('../images/icons-s0203c4eadd.png');
  background-position: 0 -508px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  width: 29px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-star-full {
    background-image: url('../images/icons-2x-s78e8059456.png');
    background-size: 230px auto;
    background-position: 0 -509px;
    height: 29px;
    width: 30px;
  }
}

.fri-star-half {
  background-image: url('../images/icons-s0203c4eadd.png');
  background-position: 0 -541px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  width: 29px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-star-half {
    background-image: url('../images/icons-2x-s78e8059456.png');
    background-size: 230px auto;
    background-position: 0 -542px;
    height: 29px;
    width: 30px;
  }
}

.fri-star-empty {
  background-image: url('../images/icons-s0203c4eadd.png');
  background-position: 0 -475px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  width: 29px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-star-empty {
    background-image: url('../images/icons-2x-s78e8059456.png');
    background-size: 230px auto;
    background-position: 0 -475px;
    height: 29px;
    width: 30px;
  }
}

body {
  background: #aaa;
  line-height: 1.2;
  font-family: "Roboto-Regular", serif;
}

a:hover {
  color: #fff;
}

small {
  font-family: "Roboto-Light", serif;
  font-size: 16px;
  line-height: 20px;
}

strong {
  font-family: "Roboto-Bold", serif;
}

input, textarea, select, option {
  font-family: "Roboto-Light", serif !important;
}

input[type=submit], button {
  font-family: "Roboto-Medium", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto-Medium", serif;
}

iframe {
  margin-top: 40px;
  max-width: 900px !important;
  border: 2px solid #fff;
}

.-text-light {
  color: #fff;
}

.-text-italic, .-text-italic-large, .-text-italic-largest {
  font-family: "Merriweather-Italic", serif;
}
.-text-italic-large {
  font-size: 24px;
}
.-text-italic-largest {
  font-size: 30px;
  letter-spacing: 3.5px;
}

.-text-normal {
  text-transform: none !important;
}

.-line-top, .-line-top-center, .-line-top-left {
  padding-top: 24px;
  position: relative;
}
.-line-top-center::before {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 3px;
  background: #fff;
  content: "";
}
.-line-top-left::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 3px;
  background: #fff;
  content: "";
}

.-mw-310 {
  max-width: 310px;
}

.-mw-750 {
  max-width: 750px;
}

.-mw-900 {
  max-width: 900px;
}

.-mw190 {
  max-width: 190px;
}

.-mb10 {
  margin-bottom: 10px;
}

.-mb20 {
  margin-bottom: 20px;
}

.-arrow-right::after {
  display: inline-block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  margin-left: 10px;
  content: "";
}

.-circle-plus {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
}

.uk-container {
  max-width: 1392px;
  min-width: 960px;
}

.uk-text-large {
  font-size: 36px;
  letter-spacing: 4.5px;
}

.uk-margin-small-top {
  margin-top: 25px !important;
}

.uk-button {
  font-size: 24px;
  padding: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.uk-button-danger {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #d0021b;
  -webkit-box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.uk-button-danger:hover {
  background-color: #8e0314;
}
.uk-button-danger:active, .uk-button-danger:visited, .uk-button-danger:focus {
  background-color: #d0021b;
}
.uk-button-danger:active:hover, .uk-button-danger:visited:hover, .uk-button-danger:focus:hover {
  background-color: #8e0314;
}

.uk-navbar {
  background: #000;
  height: 80px;
}
.uk-navbar .uk-navbar-content {
  height: auto;
}
.uk-navbar .uk-navbar-flip a {
  line-height: 80px;
  margin: 0 30px 0 0;
}
.uk-navbar .uk-navbar-flip a:last-child {
  margin: 0;
}
.uk-navbar .uk-navbar-center {
  max-width: calc(100% - 313px);
  text-align: center;
}
@media screen and (max-width: 1030px) {
  .uk-navbar .uk-navbar-center {
    max-width: 75%;
  }
}
.uk-navbar .uk-navbar-nav {
  display: inline-block;
  float: none;
}
.uk-navbar .uk-navbar-nav li {
  padding: 0 5px;
}
.uk-navbar .uk-navbar-nav li a {
  background: transparent;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.3px;
  padding: 0 10px;
  height: 80px;
  line-height: 80px;
}
.uk-navbar .uk-navbar-nav li.uk-active a, .uk-navbar .uk-navbar-nav li:hover a {
  border-bottom: 3px solid #fff;
}

.uk-panel-box {
  background: rgba(0, 0, 0, 0.6);
  max-width: 1010px;
  margin: 0 auto;
  padding: 62px 130px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.uk-panel-box i {
  font-family: "Merriweather-Italic", serif;
}

.uk-dotnav > * > * {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
}
.uk-dotnav > *:hover > * {
  background: #fff;
}
.uk-dotnav > .uk-active > * {
  background: #fff;
}

.uk-slideset {
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.uk-slideset li {
  overflow: hidden;
}

.uk-slidenav-position .uk-slidenav {
  display: inline-block !important;
  top: 100%;
  margin-top: 0;
}

.uk-slidenav-previous {
  display: inline-block;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 12px;
  height: 12px;
  left: 100px !important;
}
.uk-slidenav-previous::before {
  content: "";
}
.uk-slidenav-previous::after {
  content: "";
}

.uk-slidenav-next {
  display: inline-block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 12px;
  height: 12px;
  right: 100px !important;
}
.uk-slidenav-next::before {
  content: "";
}
.uk-slidenav-next::after {
  content: "";
}

.uk-form {
  max-width: 750px;
  width: 100%;
  display: block;
  margin: 40px auto 0;
}
.uk-form input:not([type]),
.uk-form input[type=text],
.uk-form input[type=password],
.uk-form input[type=email],
.uk-form input[type=url],
.uk-form input[type=search],
.uk-form input[type=tel],
.uk-form input[type=number],
.uk-form input[type=datetime],
.uk-form input[type=datetime-local],
.uk-form input[type=date],
.uk-form input[type=month],
.uk-form input[type=time],
.uk-form input[type=week],
.uk-form input[type=color],
.uk-form select,
.uk-form textarea {
  background: transparent;
  border: 3px solid #fff;
  width: 100%;
  height: 50px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Roboto-Medium", serif;
  outline: none;
}
.uk-form input:not([type]):focus,
.uk-form input[type=text]:focus,
.uk-form input[type=password]:focus,
.uk-form input[type=email]:focus,
.uk-form input[type=url]:focus,
.uk-form input[type=search]:focus,
.uk-form input[type=tel]:focus,
.uk-form input[type=number]:focus,
.uk-form input[type=datetime]:focus,
.uk-form input[type=datetime-local]:focus,
.uk-form input[type=date]:focus,
.uk-form input[type=month]:focus,
.uk-form input[type=time]:focus,
.uk-form input[type=week]:focus,
.uk-form input[type=color]:focus,
.uk-form select:focus,
.uk-form textarea:focus {
  background: transparent;
  color: #ffffff;
  border: 3px solid #fff;
}
.uk-form textarea {
  min-height: 100px;
}
.uk-form select {
  max-width: 360px;
}
.uk-form option {
  color: #333;
}
.uk-form label {
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Roboto-Medium", serif;
}
.uk-form label i {
  margin-left: 5px;
}
.uk-form .uk-form-row {
  margin-bottom: 20px;
}
.uk-form .uk-form-contols {
  margin-top: 5px;
}
.uk-form .radio-label {
  margin-right: 20px;
  cursor: pointer;
}
.uk-form input[type=radio]:checked:before {
  background: #fff;
}

.uk-breadcrumb li {
  line-height: 56px;
}
.uk-breadcrumb li a {
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  opacity: 0.5;
}
.uk-breadcrumb li a:active {
  color: #fff;
}
.uk-breadcrumb li.uk-active span {
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
}

.uk-modal .uk-modal-dialog {
  background: #000;
}
.uk-modal .uk-close {
  color: #fff;
  opacity: 1;
}

.logo-header {
  max-width: 143px;
  margin-top: 10px;
}

.main__title {
  font-family: "Roboto-Medium", serif;
  font-size: 64px;
  letter-spacing: 16px;
  text-shadow: 6px 0 1px rgba(255, 255, 255, 0.4);
  color: #fff;
}
.main__title_excerpt {
  font-family: "Merriweather-Italic", serif;
  font-size: 24px;
  display: block;
  letter-spacing: 1px;
  text-shadow: none;
}

.main-header .uk-navbar {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}
.main-header .uk-navbar .uk-navbar-center {
  max-width: 70%;
}

.main-footer .uk-navbar-nav {
  margin: 0;
  text-align: left;
  float: left;
}
.main-footer .uk-navbar-center {
  padding: 0;
  overflow: hidden;
  height: 80px;
  background: url("../images/line-bottom.png") center center no-repeat;
  background-size: 100% 3px;
}

.copyright {
  font-size: 18px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 30px 0 30px;
  margin: 0 0 0 -15px;
  line-height: 80px;
  background: #000;
  position: relative;
  z-index: 1;
}

.download-info {
  width: 20px;
  height: 20px;
  background: #fff;
  color: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  font-size: 15px;
  font-family: "Roboto-Bold", serif;
  line-height: 20px;
  text-align: center;
  outline: none;
}
.download-info:hover {
  text-decoration: none;
  color: #000;
}
.download-info:visited, .download-info:active, .download-info:focus {
  background: #fff;
  color: #000;
}

.download-info-large {
  width: 80px;
  height: 80px;
  background: #fff;
  color: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  font-size: 70px;
  font-family: "Roboto-Bold", serif;
  line-height: 80px;
  text-align: center;
  outline: none;
}
.download-info-large:hover {
  text-decoration: none;
  color: #000;
}
.download-info-large:visited, .download-info-large:active, .download-info-large:focus {
  background: #fff;
  color: #000;
}

.section {
  padding: 100px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
}
.section::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 6px;
  content: "";
  background: url("../images/line-bottom.png") center center no-repeat;
  z-index: 2;
}
.section::before {
  position: absolute;
  left: 50%;
  width: 22px;
  height: 22px;
  bottom: -3px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.7);
  border-right: 4px solid rgba(255, 255, 255, 0.7);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-bottom: -5px;
  margin-left: -11px;
  content: "";
  z-index: 2;
}
.section.no-line-bot::after {
  display: none;
}
.section.no-line-bot::before {
  display: none;
}
.section__title {
  font-size: 42px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 45px;
  color: #ffffff;
  font-family: "Roboto-Medium", serif;
}
.section__title_small {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Roboto-Medium", serif;
}
.section__title_light {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1.7px;
  color: #ffffff;
  font-family: "Roboto-Light", serif;
}
.section__text {
  font-size: 24px;
  color: #ffffff;
}
.section__text_larger {
  font-size: 24px;
  letter-spacing: 1.3px;
  color: #ffffff;
}
.section__text_smaller {
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
}
.section__text_regular {
  font-family: "Roboto-Regular", serif;
  font-size: 18px;
  color: #fff;
}
.section__text_number {
  font-size: 150px;
  letter-spacing: 3.3px;
  color: #ffffff;
}
.section__text_number_light {
  font-size: 30px;
  letter-spacing: 0.7px;
  color: #ffffff;
  font-family: "Roboto-Light", serif;
}

.store__btns a {
  display: inline-block;
}
.store__btns a:first-child {
  margin-right: 37px;
}

.callback-widget {
  max-width: 475px;
  display: inline-block;
}
.callback-widget .uk-form {
  font-size: 0;
  padding: 0;
  margin: 0;
}
.callback-widget .uk-form .uk-form-row {
  display: inline-block;
  width: calc(51% - 7px);
  font-size: 24px;
  vertical-align: top;
  margin: 0 7px 0 0;
  padding: 0;
}
.callback-widget .uk-form .uk-form-row:last-child {
  width: calc(49% - 7px);
}
.callback-widget .uk-form .uk-form-row:last-child {
  margin: 0 0 0 7px;
}
.callback-widget .uk-form .uk-form-row input[type=text] {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 55px;
  outline: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: solid 1px #ffffff;
  background: transparent;
  color: #fff;
  padding: 0 17px;
}
.callback-widget .uk-form .uk-form-row input[type=text]::-webkit-input-placeholder {
  color: #fff;
}
.callback-widget .uk-form .uk-form-row input[type=text]::-moz-placeholder {
  color: #fff;
}
.callback-widget .uk-form .uk-form-row .uk-button {
  display: block;
  width: 100%;
  padding: 12px 0;
  text-align: center;
}

.small-widget {
  padding: 16px 0 50px 0;
}
.small-widget p {
  font-family: "Roboto-Medium", serif;
  font-size: 18px;
  color: #fff;
}
.small-widget a {
  color: #fff;
  font-size: 24px;
  font-family: "Roboto-Regular", serif;
}
.small-widget a:hover {
  text-decoration: underline;
}

.circle, .circle__white {
  width: 100px;
  height: 100px;
  border: 2px solid transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.circle p, .circle__white p {
  font-size: 48px;
  line-height: 100px;
}
.circle__white {
  border-color: #fff;
}
.circle__white p {
  color: #ffffff;
}

.box-attention {
  background: transparent;
  padding: 0;
  max-width: 730px;
  margin: 0 auto;
}
.box-attention > div:last-child {
  width: calc(100% - 120px);
}

.gss__infos {
  margin: 40px 0 0 180px;
}
@media screen and (max-width: 1200px) {
  .gss__infos {
    margin: 143px 0 0 80px;
  }
}
@media screen and (max-width: 1030px) {
  .gss__infos {
    margin: 143px 0 0 0;
  }
}
.gss__infos .main__title_excerpt {
  margin: 13px 0 0 0;
}
.gss__infos .store__btns {
  margin: 28px 0 0 0;
}
.gss__infos .section__text_smaller {
  margin: 42px 0 0 0;
}
.gss__infos .callback-widget {
  margin: 40px 0 0 0;
}
.gss__slideset {
  max-width: 480px;
  margin: 25px 0 0 171px;
}
@media screen and (max-width: 1200px) {
  .gss__slideset {
    margin: 25px 0 0 80px;
  }
}
@media screen and (max-width: 1030px) {
  .gss__slideset {
    margin: 25px 0 0 0;
  }
}
.gss__image {
  max-width: 370px;
  margin: 130px 0 0 0;
}

.reviews-widget {
  overflow: hidden;
  padding-bottom: 70px;
}
.reviews-widget > div {
  font-size: 16px;
  float: left;
}
.reviews-widget > div:first-child {
  width: 280px;
  height: 280px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.reviews-widget > div:last-child {
  width: calc(100% - 310px);
  float: right;
  margin-top: 20px;
}
.reviews-widget_ava {
  max-width: 210px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: 35px;
}

.ws {
  background-image: url("../images/ws-bg.png");
}
.ws .gss__infos {
  margin: 143px 0 0 180px;
}

.mps {
  background-image: url("../images/mps-bg.png");
}

.kss {
  background-image: url("../images/kss-bg.png");
}

.as {
  background-image: url("../images/as-bg.png");
}

.cs {
  background-image: url("../images/cs-bg.png");
}
.cs__slideset li {
  overflow: hidden;
  padding-bottom: 80px;
}
.cs .uk-slidenav-previous {
  left: 40% !important;
}
.cs .uk-slidenav-next {
  right: 40% !important;
}

.cgs {
  background-image: url("../images/cgs-bg.png");
}
.cgs .gss__slideset {
  margin-top: 180px;
}
.cgs .gss__slideset .-text-italic, .cgs .gss__slideset .-text-italic-large, .cgs .gss__slideset .-text-italic-largest {
  display: block;
  margin-bottom: 10px;
}
.cgs .gss__image {
  margin: 0;
}

.lds {
  background-image: url("../images/lds-bg.png");
}

.rs {
  background-image: url("../images/rs-bg.png");
}
.rs_slideset {
  margin: 120px auto 0 auto;
  max-width: 900px;
}

.bas {
  background-image: url("../images/bas-bg.png");
}
.bas::after {
  display: none;
}
.bas::before {
  display: none;
}

.ais {
  background-image: url("../images/ais-bg.png");
}
.ais__article .uk-article-title {
  font-size: 32px;
  letter-spacing: 1.8px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto-Medium", serif;
  display: block;
  padding: 20px 0;
  margin: 0;
  border-top: 3px solid #d0021b;
  border-bottom: 3px solid #d0021b;
}
.ais__article .uk-article-lead {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Roboto-Medium", serif;
}
.ais__article .uk-article-lead p {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Roboto-Medium", serif;
}

.was {
  background-image: url("../images/was-bg.png");
}
.was__widget {
  padding-bottom: 80px;
}
.was .rs_slideset {
  margin: 0 auto;
}
.was__switcher {
  margin-top: 60px;
}
.was__switcher li {
  display: inline-block;
  margin: 0 15px;
}
.was__switcher li a {
  height: 32px;
  font-size: 24px;
  letter-spacing: 1.3px;
  color: #ffffff;
  padding: 10px 0;
  position: relative;
}
.was__switcher li a::after {
  width: 0;
  height: 3px;
  background: #d0021b;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
}
.was__switcher li a:hover {
  text-decoration: none;
}
.was__switcher li a:hover::after {
  width: 100%;
}
.was__switcher li.uk-active a::after {
  width: 100%;
}
.was .uk-slidenav-previous {
  left: 10px !important;
  border: none;
  width: auto;
  height: auto;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #ffffff;
}
.was .uk-slidenav-previous::before {
  display: inline-block;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 12px;
  height: 12px;
  content: "";
  margin-right: 5px;
  margin-top: 23px;
  float: left;
}
.was .uk-slidenav-next {
  right: 10px !important;
  border: none;
  width: auto;
  height: auto;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #ffffff;
}
.was .uk-slidenav-next::before {
  content: "";
}
.was .uk-slidenav-next::after {
  display: inline-block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 12px;
  height: 12px;
  content: "";
  margin-left: 5px;
  line-height: 18px;
  float: right;
  margin-top: 24px;
}

.wabs {
  background-image: url("../images/wabs-bg.png");
}
.wabs .uk-panel-box {
  background: none;
  overflow: hidden;
  border: 3px solid #fff;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}
.wabs .uk-panel-box > div {
  float: left;
  width: 100px;
}
.wabs .uk-panel-box > div:last-child {
  float: right;
  width: calc(100% - 140px);
}

.rps__icons {
  text-align: center;
  font-size: 0;
  margin-top: 180px;
}
.rps__icons a {
  font-size: 16px;
  display: inline-block;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 100px;
  height: 100px;
  border: solid 3px transparent;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0 15px;
  cursor: default;
  margin-top: 20px;
}
.rps__icons a:focus, .rps__icons a:active, .rps__icons a:visited {
  border: solid 3px transparent;
}
.rps__icons a:hover {
  border-color: #d0021b;
  opacity: 1;
}
.rps__icons a img {
  height: 60px;
}

.nps {
  background-image: url("../images/nps-bg.png");
}
.nps__articles {
  max-width: 1000px;
  margin: 100px auto 0;
}
.nps__article {
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #fff;
  margin-bottom: 30px;
  overflow: hidden;
}
.nps__article .uk-article-title {
  font-size: 24px;
  letter-spacing: 1.3px;
  color: #ffffff;
  font-family: "Roboto-Regular", serif;
  margin: 0;
}
.nps__article .uk-article-lead {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.4px;
  color: #ffffff;
}
.nps__article .uk-article-lead p {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.4px;
  color: #ffffff;
}
.nps__article_socials {
  margin-top: 20px;
}
.nps__article_socials > a {
  margin: 0 15px;
}
.nps__article_thumb {
  max-width: 260px;
}
.nps__article_time {
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
}
.nps__article_comment {
  opacity: 0.5;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  margin-left: 25px;
}
.nps__article > div {
  float: left;
  width: 260px;
}
.nps__article > div:last-child {
  float: right;
  width: calc(100% - 300px);
}

.nss__content {
  background: #000;
  padding: 40px;
}
.nss__content_info {
  overflow: hidden;
}
.nss__content_info .uk-article {
  padding: 0;
  border: none;
  border-bottom: solid 1px #ffffff;
  padding-bottom: 40px;
}
.nss__wrap {
  max-width: 1095px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.nss .uk-button {
  height: 56px;
  padding: 0 16px;
  line-height: 56px;
}

.download-info-modal {
  overflow: hidden;
}
.download-info-modal > div {
  width: 80px;
  float: left;
}
.download-info-modal > div:last-child {
  float: right;
  width: calc(100% - 100px);
}
