{% extends "../layouts/app.twig" %}

{% block content %}
    <section class="section nps">
        <div class="uk-container uk-container-center">
            <br>
            <h1 class="section__title uk-text-center uk-margin-large-top ">Новости проекта</h1>
            <div class="uk-text-center uk-margin-large-top">
                <div class="-mw-750 uk-display-inline-block">
                    <p class="section__title_small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>

            <div class="nps__articles">
                <article class="nps__article uk-article">
                    <div>
                        <img src="http://placehold.it/260x260" alt="" class="nps__article_thumb">
                    </div>
                    <div>
                        <h2 class="uk-article-title">Заголовок новости #1</h2>
                        <p class="uk-article-meta"><span class="nps__article_time">12.09.16</span><span class="nps__article_comment">25 комментариев</span></p>
                        <p class="uk-article-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <div class="uk-text-right">
                            <a href="../../news-single.html" class="-arrow-right section__title_small">Читать далее</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="uk-text-center load-more" data-lm-target="nps__articles">
                <a href="#" class="uk-button uk-button-danger"><span class="-circle-plus">+</span> Еще новости</a>
            </div>
        </div>
    </section>

{% endblock %}