<header class="main-header" data-uk-sticky="{top:-160, animation: 'uk-animation-slide-top'}">
    <nav class="uk-navbar">
        <div class="uk-container uk-container-center">
            <a href="#mobile-nav" class="uk-navbar-toggle" data-uk-offcanvas="{mode:'slide'}"></a>
            <div class="uk-navbar-content uk-navbar-center"><a href="/"><img src="../../../images/logo.png" alt="" class="logo-header"></a></div>
            <div class="uk-navbar-flip"><a href="#rss-nav" class="" data-uk-offcanvas="{mode:'slide'}"><i class="fri fri-rss"></i></a></div>
        </div>
    </nav>
</header>

<!-- Mobile Navigation -->
<div id="mobile-nav" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav">
            <li><a href="#">Об игре</a></li>
            <li class="uk-active"><a href="#">Прохождение</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
</div>

<!-- Mobile Rss -->
<div id="rss-nav" class="uk-offcanvas">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
        <ul class="uk-nav has-social">
            <li><a href="#"><i class="fri fri-vk"></i></a></li>
            <li><a href="#"><i class="fri fri-facebook"></i></a></li>
            <li><a href="#"><i class="fri fri-youtube"></i></a></li>
        </ul>
    </div>
</div>