<div id="download-info" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="download-info-modal">
            <div><a href="#" class="download-info-large">?</a></div>
            <div><p class="section__title_small">Если вы кликнете по иконке Google Play или App Store, то сначала перейдете на эти маркеты. Затем вам придется искать там игру «Место». Мы поможем вам избежать ненужной траты времени. Введите свой номер телефона, и мы пришлем вам SMS с прямой ссылкой на игру. Вам останется только нажать «Скачать»</p></div>
        </div>
    </div>
</div>

<!-- Slide 9 -->
<section class="section bas">
    <div class="uk-container uk-container-center">
        <h2 class="section__title uk-text-center">Будьте осторожны! <br>Все это может оказаться правдой</h2>
        <div class="uk-text-center">
            <p class="section__text_smaller uk-margin-large-top">Вы можете не верить в теорию множественности миров, в существование <br>
                других измерений и инопланетного разума, вы можете не верить в Бога. <br>
                Это ничего не меняет.Окружающий мир все равно не так прост и понятен, <br>
                как вы думаете. Наша реальность нетак прочна, как кажется. Вокруг <br>
                нас происходит много необъяснимого и загадочного, а ученые или бессильно <br>
                разводят руками или пытаются все отрицать. Поэтому будьте осторожны. <br>
                То, чего, вы уверены, не существует, вполне может существовать.</p>
        </div>
        <div class="store__btns uk-text-center uk-margin-large-top">
            <a href="#"><i class="fri fri-apple-btn-red"></i></a>
            <a href="#"><i class="fri fri-google-btn-red"></i></a>
        </div>
    </div>

    <footer class="main-footer">
        <div class="uk-container uk-container-center">
            <div class="uk-text-center">
                <a href="/"><img src="../../../images/logo.png" alt="" class="logo-header"></a>
            </div>
            <div class="uk-text-center uk-margin-large-top">
                <a href="#"><i class="fri fri-vk-circle"></i></a>
                <a href="#"><i class="fri fri-facebook-circle"></i></a>
                <a href="#"><i class="fri fri-youtube-circle"></i></a>
            </div>
            <div class="uk-text-center uk-margin-large-top">
                <p class="copyright">&copy;Copyright, 2016</p>
            </div>
        </div>
    </footer>
</section>