/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$apple-btn-name: 'apple-btn'
$apple-btn-x: 0px
$apple-btn-y: 72px
$apple-btn-offset-x: 0px
$apple-btn-offset-y: -72px
$apple-btn-width: 208px
$apple-btn-height: 72px
$apple-btn-total-width: 330px
$apple-btn-total-height: 184px
$apple-btn-image: '../images/sprite.png'
$apple-btn: (0px, 72px, 0px, -72px, 208px, 72px, 330px, 184px, '../images/sprite.png', 'apple-btn', )
$google-btn-name: 'google-btn'
$google-btn-x: 0px
$google-btn-y: 0px
$google-btn-offset-x: 0px
$google-btn-offset-y: 0px
$google-btn-width: 230px
$google-btn-height: 72px
$google-btn-total-width: 330px
$google-btn-total-height: 184px
$google-btn-image: '../images/sprite.png'
$google-btn: (0px, 0px, 0px, 0px, 230px, 72px, 330px, 184px, '../images/sprite.png', 'google-btn', )
$icon-alert-name: 'icon-alert'
$icon-alert-x: 230px
$icon-alert-y: 0px
$icon-alert-offset-x: -230px
$icon-alert-offset-y: 0px
$icon-alert-width: 100px
$icon-alert-height: 100px
$icon-alert-total-width: 330px
$icon-alert-total-height: 184px
$icon-alert-image: '../images/sprite.png'
$icon-alert: (230px, 0px, -230px, 0px, 100px, 100px, 330px, 184px, '../images/sprite.png', 'icon-alert', )
$icon-facebook-name: 'icon-facebook'
$icon-facebook-x: 310px
$icon-facebook-y: 100px
$icon-facebook-offset-x: -310px
$icon-facebook-offset-y: -100px
$icon-facebook-width: 15px
$icon-facebook-height: 30px
$icon-facebook-total-width: 330px
$icon-facebook-total-height: 184px
$icon-facebook-image: '../images/sprite.png'
$icon-facebook: (310px, 100px, -310px, -100px, 15px, 30px, 330px, 184px, '../images/sprite.png', 'icon-facebook', )
$icon-vk-name: 'icon-vk'
$icon-vk-x: 40px
$icon-vk-y: 144px
$icon-vk-offset-x: -40px
$icon-vk-offset-y: -144px
$icon-vk-width: 32px
$icon-vk-height: 18px
$icon-vk-total-width: 330px
$icon-vk-total-height: 184px
$icon-vk-image: '../images/sprite.png'
$icon-vk: (40px, 144px, -40px, -144px, 32px, 18px, 330px, 184px, '../images/sprite.png', 'icon-vk', )
$icon-youtube-name: 'icon-youtube'
$icon-youtube-x: 208px
$icon-youtube-y: 72px
$icon-youtube-offset-x: -208px
$icon-youtube-offset-y: -72px
$icon-youtube-width: 22px
$icon-youtube-height: 18px
$icon-youtube-total-width: 330px
$icon-youtube-total-height: 184px
$icon-youtube-image: '../images/sprite.png'
$icon-youtube: (208px, 72px, -208px, -72px, 22px, 18px, 330px, 184px, '../images/sprite.png', 'icon-youtube', )
$normal-name: 'normal'
$normal-x: 230px
$normal-y: 100px
$normal-offset-x: -230px
$normal-offset-y: -100px
$normal-width: 40px
$normal-height: 40px
$normal-total-width: 330px
$normal-total-height: 184px
$normal-image: '../images/sprite.png'
$normal: (230px, 100px, -230px, -100px, 40px, 40px, 330px, 184px, '../images/sprite.png', 'normal', )
$sad-name: 'sad'
$sad-x: 270px
$sad-y: 100px
$sad-offset-x: -270px
$sad-offset-y: -100px
$sad-width: 40px
$sad-height: 40px
$sad-total-width: 330px
$sad-total-height: 184px
$sad-image: '../images/sprite.png'
$sad: (270px, 100px, -270px, -100px, 40px, 40px, 330px, 184px, '../images/sprite.png', 'sad', )
$smile-name: 'smile'
$smile-x: 0px
$smile-y: 144px
$smile-offset-x: 0px
$smile-offset-y: -144px
$smile-width: 40px
$smile-height: 40px
$smile-total-width: 330px
$smile-total-height: 184px
$smile-image: '../images/sprite.png'
$smile: (0px, 144px, 0px, -144px, 40px, 40px, 330px, 184px, '../images/sprite.png', 'smile', )
$apple-btn-2x-name: 'apple-btn@2x'
$apple-btn-2x-x: 0px
$apple-btn-2x-y: 144px
$apple-btn-2x-offset-x: 0px
$apple-btn-2x-offset-y: -144px
$apple-btn-2x-width: 416px
$apple-btn-2x-height: 144px
$apple-btn-2x-total-width: 660px
$apple-btn-2x-total-height: 368px
$apple-btn-2x-image: '../images/sprite@2x.png'
$apple-btn-2x: (0px, 144px, 0px, -144px, 416px, 144px, 660px, 368px, '../images/sprite@2x.png', 'apple-btn@2x', )
$google-btn-2x-name: 'google-btn@2x'
$google-btn-2x-x: 0px
$google-btn-2x-y: 0px
$google-btn-2x-offset-x: 0px
$google-btn-2x-offset-y: 0px
$google-btn-2x-width: 460px
$google-btn-2x-height: 144px
$google-btn-2x-total-width: 660px
$google-btn-2x-total-height: 368px
$google-btn-2x-image: '../images/sprite@2x.png'
$google-btn-2x: (0px, 0px, 0px, 0px, 460px, 144px, 660px, 368px, '../images/sprite@2x.png', 'google-btn@2x', )
$icon-alert-2x-name: 'icon-alert@2x'
$icon-alert-2x-x: 460px
$icon-alert-2x-y: 0px
$icon-alert-2x-offset-x: -460px
$icon-alert-2x-offset-y: 0px
$icon-alert-2x-width: 200px
$icon-alert-2x-height: 200px
$icon-alert-2x-total-width: 660px
$icon-alert-2x-total-height: 368px
$icon-alert-2x-image: '../images/sprite@2x.png'
$icon-alert-2x: (460px, 0px, -460px, 0px, 200px, 200px, 660px, 368px, '../images/sprite@2x.png', 'icon-alert@2x', )
$icon-facebook-2x-name: 'icon-facebook@2x'
$icon-facebook-2x-x: 620px
$icon-facebook-2x-y: 200px
$icon-facebook-2x-offset-x: -620px
$icon-facebook-2x-offset-y: -200px
$icon-facebook-2x-width: 30px
$icon-facebook-2x-height: 60px
$icon-facebook-2x-total-width: 660px
$icon-facebook-2x-total-height: 368px
$icon-facebook-2x-image: '../images/sprite@2x.png'
$icon-facebook-2x: (620px, 200px, -620px, -200px, 30px, 60px, 660px, 368px, '../images/sprite@2x.png', 'icon-facebook@2x', )
$icon-vk-2x-name: 'icon-vk@2x'
$icon-vk-2x-x: 80px
$icon-vk-2x-y: 288px
$icon-vk-2x-offset-x: -80px
$icon-vk-2x-offset-y: -288px
$icon-vk-2x-width: 64px
$icon-vk-2x-height: 36px
$icon-vk-2x-total-width: 660px
$icon-vk-2x-total-height: 368px
$icon-vk-2x-image: '../images/sprite@2x.png'
$icon-vk-2x: (80px, 288px, -80px, -288px, 64px, 36px, 660px, 368px, '../images/sprite@2x.png', 'icon-vk@2x', )
$icon-youtube-2x-name: 'icon-youtube@2x'
$icon-youtube-2x-x: 416px
$icon-youtube-2x-y: 144px
$icon-youtube-2x-offset-x: -416px
$icon-youtube-2x-offset-y: -144px
$icon-youtube-2x-width: 44px
$icon-youtube-2x-height: 36px
$icon-youtube-2x-total-width: 660px
$icon-youtube-2x-total-height: 368px
$icon-youtube-2x-image: '../images/sprite@2x.png'
$icon-youtube-2x: (416px, 144px, -416px, -144px, 44px, 36px, 660px, 368px, '../images/sprite@2x.png', 'icon-youtube@2x', )
$normal-2x-name: 'normal@2x'
$normal-2x-x: 460px
$normal-2x-y: 200px
$normal-2x-offset-x: -460px
$normal-2x-offset-y: -200px
$normal-2x-width: 80px
$normal-2x-height: 80px
$normal-2x-total-width: 660px
$normal-2x-total-height: 368px
$normal-2x-image: '../images/sprite@2x.png'
$normal-2x: (460px, 200px, -460px, -200px, 80px, 80px, 660px, 368px, '../images/sprite@2x.png', 'normal@2x', )
$sad-2x-name: 'sad@2x'
$sad-2x-x: 540px
$sad-2x-y: 200px
$sad-2x-offset-x: -540px
$sad-2x-offset-y: -200px
$sad-2x-width: 80px
$sad-2x-height: 80px
$sad-2x-total-width: 660px
$sad-2x-total-height: 368px
$sad-2x-image: '../images/sprite@2x.png'
$sad-2x: (540px, 200px, -540px, -200px, 80px, 80px, 660px, 368px, '../images/sprite@2x.png', 'sad@2x', )
$smile-2x-name: 'smile@2x'
$smile-2x-x: 0px
$smile-2x-y: 288px
$smile-2x-offset-x: 0px
$smile-2x-offset-y: -288px
$smile-2x-width: 80px
$smile-2x-height: 80px
$smile-2x-total-width: 660px
$smile-2x-total-height: 368px
$smile-2x-image: '../images/sprite@2x.png'
$smile-2x: (0px, 288px, 0px, -288px, 80px, 80px, 660px, 368px, '../images/sprite@2x.png', 'smile@2x', )
$spritesheet-width: 330px
$spritesheet-height: 184px
$spritesheet-image: '../images/sprite.png'
$spritesheet-sprites: ($apple-btn, $google-btn, $icon-alert, $icon-facebook, $icon-vk, $icon-youtube, $normal, $sad, $smile, )
$spritesheet: (330px, 184px, '../images/sprite.png', $spritesheet-sprites, )
$retina-spritesheet-width: 660px
$retina-spritesheet-height: 368px
$retina-spritesheet-image: '../images/sprite@2x.png'
$retina-spritesheet-sprites: ($apple-btn-2x, $google-btn-2x, $icon-alert-2x, $icon-facebook-2x, $icon-vk-2x, $icon-youtube-2x, $normal-2x, $sad-2x, $smile-2x, )
$retina-spritesheet: (660px, 368px, '../images/sprite@2x.png', $retina-spritesheet-sprites, )

/*
  These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

  The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
  */
$apple-btn-group-name: 'apple-btn'
$apple-btn-group: ('apple-btn', $apple-btn, $apple-btn-2x, )
$google-btn-group-name: 'google-btn'
$google-btn-group: ('google-btn', $google-btn, $google-btn-2x, )
$icon-alert-group-name: 'icon-alert'
$icon-alert-group: ('icon-alert', $icon-alert, $icon-alert-2x, )
$icon-facebook-group-name: 'icon-facebook'
$icon-facebook-group: ('icon-facebook', $icon-facebook, $icon-facebook-2x, )
$icon-vk-group-name: 'icon-vk'
$icon-vk-group: ('icon-vk', $icon-vk, $icon-vk-2x, )
$icon-youtube-group-name: 'icon-youtube'
$icon-youtube-group: ('icon-youtube', $icon-youtube, $icon-youtube-2x, )
$normal-group-name: 'normal'
$normal-group: ('normal', $normal, $normal-2x, )
$sad-group-name: 'sad'
$sad-group: ('sad', $sad, $sad-2x, )
$smile-group-name: 'smile'
$smile-group: ('smile', $smile, $smile-2x, )
$retina-groups: ($apple-btn-group, $google-btn-group, $icon-alert-group, $icon-facebook-group, $icon-vk-group, $icon-youtube-group, $normal-group, $sad-group, $smile-group, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
    It should be used with a "retina group" variable.

  The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

  $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, )

  .icon-home
    @include retina-sprite($icon-home-group)
  */
@mixin sprite-background-size($sprite)
  $sprite-total-width: nth($sprite, 7)
  $sprite-total-height: nth($sprite, 8)
  background-size: $sprite-total-width $sprite-total-height

@mixin retina-sprite($retina-group)
  $normal-sprite: nth($retina-group, 2)
  $retina-sprite: nth($retina-group, 3)
  @include sprite($normal-sprite)

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    @include sprite-image($retina-sprite)
    @include sprite-background-size($normal-sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)

/*
  The `retina-sprites` mixin generates a CSS rule and media query for retina groups
    This yields the same output as CSS retina template but can be overridden in SASS

  @include retina-sprites($retina-groups)
  */
@mixin retina-sprites($retina-groups)
  @each $retina-group in $retina-groups
    $sprite-name: nth($retina-group, 1)
    .#{$sprite-name}
      @include retina-sprite($retina-group)
