<section class="section rs">
    <div class="uk-container uk-container-center">
        <h2 class="section__title uk-text-center">Отзывы выживших</h2>
        <div class="uk-text-center">
            <div class="rs_slideset" data-uk-slideset="{default: 1, animation: 'scale'}" data-auto-height>
                <div class="uk-slidenav-position">
                    <ul class="uk-grid uk-slideset">
                        <li>
                            <div class="reviews-widget">
                                <div><img src="http://placehold.it/210x210" alt="" class="reviews-widget_ava"></div>
                                <div class="uk-text-center">
                                    <div><img src="/images/stars.png" alt="" class="-mw190 -mb100"></div>
                                    <p class="section__text">“Пожалела, что скачала. Это просто жуть. Мне теперь везде мерещутся эти Длинные Люди. Очень страшная игра”</p>
                                    <p class="uk-text-center"><i class="-text-italic-large -text-light -mb10">Полина</i></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="reviews-widget">
                                <div><img src="http://placehold.it/210x210" alt="" class="reviews-widget_ava"></div>
                                <div class="uk-text-center">
                                    <div><img src="/images/stars.png" alt="" class="-mw190 -mb100"></div>
                                    <p class="section__text">“Прошел много интерактивных историй. Место - безусловно лучшая. Респект авторам!”</p>
                                    <p class="uk-text-center"><i class="-text-italic-large -text-light -mb10">Влад</i></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="reviews-widget">
                                <div><img src="http://placehold.it/210x210" alt="" class="reviews-widget_ava"></div>
                                <div class="uk-text-center">
                                    <div><img src="/images/stars.png" alt="" class="-mw190 -mb100"></div>
                                    <p class="section__text">“Есть очень страшные моменты. Особенно рисунки. Особенно лыжник с болота. Теперь боюсь ходить в лес”</p>
                                    <p class="uk-text-center"><i class="-text-italic-large -text-light -mb10">Настасья</i></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="reviews-widget">
                                <div><img src="http://placehold.it/210x210" alt="" class="reviews-widget_ava"></div>
                                <div class="uk-text-center">
                                    <div><img src="/images/stars.png" alt="" class="-mw190 -mb100"></div>
                                    <p class="section__text">“Финал неоднозначный. Надеюсь будет продолжение. Очень его жду!”</p>
                                    <p class="uk-text-center"><i class="-text-italic-large -text-light -mb10">Максим</i></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="reviews-widget">
                                <div><img src="http://placehold.it/210x210" alt="" class="reviews-widget_ava"></div>
                                <div class="uk-text-center">
                                    <div><img src="/images/stars.png" alt="" class="-mw190 -mb100"></div>
                                    <p class="section__text">“Всем скачать и пройти! Я будто фильм ужасов посмотрела. Или новый роман Кинга прочитала. Пугающая история, по-настоящему страшная игра”</p>
                                    <p class="uk-text-center"><i class="-text-italic-large -text-light -mb10">Ксения</i></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="reviews-widget">
                                <div><img src="http://placehold.it/210x210" alt="" class="reviews-widget_ava"></div>
                                <div class="uk-text-center">
                                    <div><img src="/images/stars.png" alt="" class="-mw190 -mb100"></div>
                                    <p class="section__text">“Теперь хожу и думаю: а вдруг это действительно все правда? Куда исчезают люди? Ведь таких случае было много - вышел человек на лестницу и просто пропал”</p>
                                    <p class="uk-text-center"><i class="-text-italic-large -text-light -mb10">Семен</i></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
                    <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
                </div>
                <ul class="uk-slideset-nav uk-dotnav uk-flex-center"></ul>
            </div>
        </div>
    </div>
</section>