{% extends "layouts/app.twig" %}

{% block content %}

    <section class="section" style="background-image: url('images/ws-bg.png')">
        <div class="uk-container uk-container-center">
            <br>
            <h1 class="main__title uk-text-uppercase uk-text-center uk-margin-large-top">Место</h1>
            <div class="uk-text-center uk-margin-small-top"><i class="-text-italic-largest -text-light">увлекательная и пугающая</i></div>
            <div class="uk-text-center uk-margin-small-top"><strong class="uk-text-large -text-light">интерактивная история</strong></div>
            <div class="uk-text-center uk-margin-small-top">
                <div class="-mw-750 uk-display-inline-block uk-margin-large-top">
                    <p class="section__title_small">На создание игры «Место» нас вдохновило новый виток в развитии текстовых квестов, который стал возможен широкому распространению мобильных игр для Android и iOS.</p>

                    <p class="section__title_small">Мы внимательно изучили многие текстовые квесты, скачать которые можно в Google Play App Store, и решили сделать лучше. Так появилось «Место» – текстовой квест нового формата.</p>

                    <p class="section__title_small">Новый формат заключается, прежде всего, в том, что мы предлагаем не просто выбор действий и набор загадок. Мы предлагаем увлекательную интерактивную историю. Чтобы она стала действительно увлекательной, нами был реализован целый ряд новаторских идей (новаторских именно для жанра текстового квеста).</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section ais">
        <div class="uk-container uk-container-center">
            <div data-uk-grid="{gutter: '60, 100'}">
                <div class="uk-width-medium-1-2">
                    <article class="ais__article uk-article">
                        <h2 class="uk-article-title">Жанр хоррор</h2>
                        <p class="uk-article-lead">Для текстовых квестов этот жанр – большая редкость. Большинство из них – это фантастика или фэнтези. Мы решили не топтаться по проторенным дорожкам космических рейн-джеров и героев меча и магии, а создать уникальную историю в достаточно сложном жанре</p>
                    </article>
                </div>
                <div class="uk-width-medium-1-2">
                    <article class="ais__article uk-article">
                        <h2 class="uk-article-title">Нелинейный сюжет</h2>
                        <p class="uk-article-lead">Вы можете выбрать несколько вариантов прохождения.
                            То есть до финала Марина (так зовут главную героиню квеста) может добраться разными маршрутами. Ей не обязательно проходить через все локации. На каждом маршруте меняются не только пейзажи, объекты, монстры, но и образ мыслей Марины. Большинство маршрутов имеет уникальную концовку</p>
                    </article>
                </div>
                <div class="uk-width-medium-1-2">
                    <article class="ais__article uk-article">
                        <h2 class="uk-article-title">«Взрослый» текст</h2>
                        <p class="uk-article-lead">Интерактивная история «Место» написана профессиональным автором. Поэтому Марина общается с игроками, во-первых, как человек, а не бот, во-вторых, как взрослый человек, а не школьник. Вы поймете разницу, если до этого вам приходилось проходить текстовые квесты, созданные любителями</p>
                    </article>
                </div>
                <div class="uk-width-medium-1-2">
                    <article class="ais__article uk-article">
                        <h2 class="uk-article-title">Уникальный графический контент</h2>
                        <p class="uk-article-lead">Лучше один раз увидеть, чем один раз прочесть. Поэтому мы не пожалели времени и сил на создание фотографий локаций, объектов, предметов и обитателей аномальной зоны, которые Марина отправляет вместе с сообщениями. Для этого нами была проведена специальная фотосессия, а рисунки монстров выполнил профессиональный художник</p>
                    </article>
                </div>
                <div class="uk-width-medium-1-2">
                    <article class="ais__article uk-article">
                        <h2 class="uk-article-title">Продуманная игровая вселенная</h2>
                        <p class="uk-article-lead">Интерактивная история «Место» – это не просто сюжет, а продуманная игровая вселенная. Каждое событие здесь происходит не просто так. Мы создали целый гайд по вселенной «Места», но он, конечно же, предназначен для внутреннего пользования. Хотя, возможно, когда-нибудь мы его опубликуем</p>
                    </article>
                </div>
                <div class="uk-width-medium-1-2">
                    <article class="ais__article uk-article">
                        <h2 class="uk-article-title">Научный подход</h2>
                        <p class="uk-article-lead">Сюжет IF «Место» разворачивается в некой аномальной зоне. Чтобы здесь его предельно увлекательным и, если так можно сказать, реалистичным, мы изучили множество материалов, посвященных существующим аномальным зонам – от знаменитой Зоны-51 в Неваде до горы Воттоваара в Карелии. Кроме того, мы консультировались с одним известным уфологом, специалистом по непознанным и необъяснимым явлениям, автором ряда книг по данной тематике. В частности, мы спросили: «Какие явления характерны для аномальных зон? Что там обычно происходит?». Специалист ответил: «Все, что угодно. Законы привычного физического мира там не действуют»</p>
                    </article>
                </div>
                <div class="uk-width-medium-1-2">
                    <article class="ais__article uk-article">
                        <h2 class="uk-article-title">Отечественный продукт</h2>
                        <p class="uk-article-lead">Сюжет IF «Место» разворачивается в некой аномальной зоне. Чтобы здесь его предельно увлекательным и, если так можно сказать, реалистичным, мы изучили множество материалов, посвященных существующим аномальным зонам – от знаменитой Зоны-51 в Неваде до горы Воттоваара в Карелии. Кроме того, мы консультировались с одним известным уфологом, специалистом по непознанным и необъяснимым явлениям, автором ряда книг по данной тематике. В частности, мы спросили: «Какие явления характерны для аномальных зон? Что там обычно происходит?». Специалист ответил: «Все, что угодно. Законы привычного физического мира там не действуют»</p>
                    </article>
                </div>
            </div>
            <div class="uk-text-center uk-margin-large-top">
                <p class="section__title_small -mw-750 uk-display-inline-block uk-margin-large-top">Мы могли бы еще много чего рассказать об особенностях созданной нами игры. Но зачем тратить ваше время? Скачайте «Место» и погрузитесь в эту увлекательную и пугающую интерактивную историю. </p>
                <p class="uk-margin-large-top"><i class="-text-italic-large -text-light">Welcome to hell!</i></p>
            </div>
        </div>
    </section>

{% endblock %}