{% extends "layouts/app.twig" %}

{% block content %}

    <!-- Slide 2 -->
    <section class="section">
        <div class="uk-container uk-container-center">
            <h2 class="section__title uk-text-center">Куда пропадают люди?</h2>
            <h4 class="section_title_small uk-text-center">Только в России ежегодно пропадает население небольшого городка – 120 000 человек. Большинство находят. Но некоторых не находят никогда. Они бесследно исчезают. Куда?</h4>
        </div>
    </section>

    <!-- Slide 3 -->
    <section class="section">
        <div class="uk-container uk-container-center">
            <h2 class="section__title uk-text-center">Узнайте одну из самых мрачных тайн</h2>
            <h4 class="section_title_small uk-text-center">Хоррор-игра для Android и IPhone «Место» приоткроет перед вами одну из самых мрачных тайн современности. Она позволит вам узнать, что на самом деле происходит с теми, о ком в полицейских отчетах пишут: «пропал при невыясненных обстоятельствах». «Место» расскажет вам о том, что происходит на темной стороне нашего мира.</h4>
        </div>
    </section>

    <!-- Slide 4 -->
    <section class="section">
        <div class="uk-container uk-container-center">
            <h2 class="section__title uk-text-center">Окунитесь в леденящий ужас!</h2>
            <h3 class="section__title_light uk-text-center">Скачайте игру прямо сейчас</h3>
            <h4 class="section_title_small uk-text-center">Только в России ежегодно пропадает население небольшого городка – 120 000 человек. Большинство находят. Но некоторых не находят никогда. Они бесследно исчезают. Куда?</h4>
            <p class="section__text">Скачайте быстро. Получите SMS с прямой ссылкой на игру в Google play и App Store.</p>
            <div class="callback-widget">
                <div class="uk-text-center">
                    <a href="#" class="uk-button uk-button-primary">App Store</a>
                    <a href="#" class="uk-button uk-button-primary">Google</a>
                </div>
                <form class="uk-text-center">
                    <div class="uk-form-row">
                        <input type="text" name="phone" placeholder="Введите телефон" required>
                    </div>
                    <button type="submit" class="uk-button uk-button-danger">Получить ссылку</button>
                </form>
            </div>
            <div>
                <small><strong>Внимание!</strong> Инди хоррор-игра «Место» содержит описание сцен насилия, грубые высказывания, ругань, а также реалистичный фотоконтент. Настоятельно не рекомендуем играть в «Место» слишком впечатлительным людям, людям с неустойчивой психикой, людям, страдающим нервными и психическими расстройствами, а также детям до 16 лет.</small>
            </div>
        </div>
    </section>

    <!-- Slide 5 -->
    <section class="section">
        <div class="uk-container uk-container-center">
            <h2 class="section__title uk-text-center">Вдохновлено лучшими мастерами ужасов</h2>
            <h4 class="section_title_small uk-text-center">Источником вдохновения для создателей игры для Android и IPhone «Место» послужили лучшие авторы и лучшие произведения в жанре хоррор – игры, фильмы и некоторые персонажи городских легенд.</h4>

            <div class="uk-panel uk-panel-box">
                <p class="section__text_larger">«А чуть дальше я увидел ковбойский сапог, расшитый, с наборным каблуком. Боковина сапога прорвалась, и через дыру виднелась желтоватая кость. Почему-то я подумал, что школьного приятеля Эдди Джи съели. Возможно, даже живым. И кричащим, если, конечно, он мог дышать этим воздухом»</p>
                <div class="uk-text-right">
                    <i class="section__text_larger">Стивен Кинг</i>
                </div>
            </div>
        </div>
    </section>

    <!-- Slide 6 -->
    <section class="section">
        <div class="uk-container uk-container-center">
            <h2 class="section__title uk-text-center">Эта по-настоящему страшная игра вас полностью затянет</h2>
            <h4 class="section_title_small uk-text-center">Создатели интерактивной истории «Место» постарались сделать ее лучше, интереснее,увлекательнее, реалистичнее и, конечно, страшнее всех интерактивных историй итекстовых квестов, которые уже доступны для скачивания.</h4>
        </div>
    </section>

    <!-- Slide 7 -->
    <section class="section">
        <div class="uk-container uk-container-center">
            <h2 class="section__title uk-text-center">Вам придется постоянно делать выбор между жизнью и смертью</h2>
            <h4 class="section_title_small uk-text-center">Страшная игра «Место» отличается высокой интерактивностью. Вам постоянно придется делать выбор, а не просто пролистывать историю.</h4>
            <div>
                <p class="section__text uk-text-left">Над созданием страшной игры «Место» работала целая команда. Она включала писателей, художников, дизайнеров, программистов, режиссеров, фотографов, актеров. Бюджет игры приблизился к бюджету съемок полнометражного фильма. Время разработки составило более 5 месяцев</p>
            </div>
        </div>
    </section>

    <!-- Slide 8 -->
    <section class="section">
        <div class="uk-container uk-container-center">
            <h2 class="section__title uk-text-center">Отзывы выживших</h2>
        </div>
    </section>

    <!-- Slide 9 -->
    <section class="section">
        <div class="uk-container uk-container-center">
            <h2 class="section__title uk-text-center">Будьте осторожны! Все это может оказаться правдой</h2>
            <div class="uk-text-center">
                <p class="section__text">Вы можете не верить в теорию множественности миров, в существование других измерений и инопланетного разума, вы можете не верить в Бога. Это ничего не меняет.Окружающий мир все равно не так прост и понятен, как вы думаете. Наша реальность нетак прочна, как кажется. Вокруг нас происходит много необъяснимого и загадочного, а ученые или бессильно разводят руками или пытаются все отрицать. Поэтому будьте осторожны. То, чего, вы уверены, не существует, вполне может существовать.</p>
            </div>
            <div class="callback-widget">
                <div class="uk-text-center">
                    <a href="#" class="uk-button uk-button-primary">App Store</a>
                    <a href="#" class="uk-button uk-button-primary">Google</a>
                </div>
                <form class="uk-text-center">
                    <div class="uk-form-row">
                        <input type="text" name="phone" placeholder="Введите телефон" required>
                    </div>
                    <button type="submit" class="uk-button uk-button-danger">Получить ссылку</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}