{% extends "layouts/app.twig" %}

{% block content %}
    <section class="section" style="background-image: url('images/ws-bg.png')">
        <div class="uk-container uk-container-center">
            <br>
            <h1 class="section__title uk-text-uppercase uk-text-center uk-margin-large-top -text-normal">Прохождение игры «Место»: некоторые секреты и советы</h1>
            <div class="uk-text-center uk-margin-large-top">
                <div class="-mw-750 uk-display-inline-block">
                    <p class="section__title_small">По сюжету игры «Место», вы помогаете девушке по имени Марина выбраться из аномальной зоны, в которую она попала во время путешествия с друзьями по Карелии.  Это будет нелегкий путь. Каждый шаг Марины может оказаться последним. На пути ее поджидают различные опасности – необъяснимые явления, монстры, трясина, лесная чаща и некие таинственные существа. Задача осложняется тем, что вам надо помочь Марине не только
                        выбраться из аномальной зоны, но и разобраться в происходящем. <br> <br>
                        Здесь мы раскрываем некоторые секреты и советы по прохождению игры «Место».</p>

                    <ul data-uk-switcher="{connect:'#walk-switcher', animation: 'slide-right'}" class="was__switcher">
                        <li><a href="#was" {#data-uk-smooth-scroll="{offset: 90}"#}>Советы</a></li>
                        <li><a href="#was" {#data-uk-smooth-scroll="{offset: 90}"#}>Секреты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section was" id="was">
        <div class="uk-container uk-container-center">
            <ul id="walk-switcher" class="uk-switcher">
                <li>
                    <div class="uk-text-center">
                        <div class="rs_slideset" data-uk-slideset="{default: 1, animation: 'scale'}">
                            <div class="uk-slidenav-position">
                                <ul class="uk-grid uk-slideset">
                                    <li class="uk-active">
                                        <div class="uk-text-ceter was__widget">
                                            <h3 class="section__title uk-margin-large-bottom">Совет #1</h3>
                                            <p class="uk-margin-large-top section__title_small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur, debitis deserunt ea est excepturi, exercitationem harum ipsam labore nihil nostrum quam unde veniam! Enim illo libero nulla vel vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolor laborum magnam nostrum repellendus sequi sunt! Asperiores commodi dolorem, eius enim ex labore mollitia nisi numquam recusandae veritatis voluptates voluptatum!</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="uk-text-ceter was__widget">
                                            <h3 class="section__title uk-margin-large-bottom">Совет #2</h3>
                                            <p class="uk-margin-large-top section__title_small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur, debitis deserunt ea est excepturi, exercitationem harum ipsam labore nihil nostrum quam unde veniam! Enim illo libero nulla vel vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolor laborum magnam nostrum repellendus sequi sunt! Asperiores commodi dolorem, eius enim ex labore mollitia nisi numquam recusandae veritatis voluptates voluptatum!</p>
                                        </div>
                                    </li>
                                </ul>
                                <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous">Предыдущий совет</a>
                                <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next">Следующий совет</a>
                            </div>
                        </div>
                        <br>
                    </div>
                </li>
                <li>
                    <div class="uk-text-center">
                        <div class="rs_slideset" data-uk-slideset="{default: 1, animation: 'scale'}">
                            <div class="uk-slidenav-position">
                                <ul class="uk-grid uk-slideset">
                                    <li class="uk-active">
                                        <div class="uk-text-ceter was__widget">
                                            <h3 class="section__title uk-margin-large-bottom">Секрет #1</h3>
                                            <p class="uk-margin-large-top section__title_small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur, debitis deserunt ea est excepturi, exercitationem harum ipsam labore nihil nostrum quam unde veniam! Enim illo libero nulla vel vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolor laborum magnam nostrum repellendus sequi sunt! Asperiores commodi dolorem, eius enim ex labore mollitia nisi numquam recusandae veritatis voluptates voluptatum!</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="uk-text-ceter was__widget">
                                            <h3 class="section__title uk-margin-large-bottom">Секрет #2</h3>
                                            <p class="uk-margin-large-top section__title_small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur, debitis deserunt ea est excepturi, exercitationem harum ipsam labore nihil nostrum quam unde veniam! Enim illo libero nulla vel vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolor laborum magnam nostrum repellendus sequi sunt! Asperiores commodi dolorem, eius enim ex labore mollitia nisi numquam recusandae veritatis voluptates voluptatum!</p>
                                        </div>
                                    </li>
                                </ul>
                                <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous">Предыдущий секрет</a>
                                <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next">Следующий секрет</a>
                            </div>
                        </div>
                        <br>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="section wabs">
        <div class="uk-container uk-container-center">
            <div class="uk-panel uk-panel-box">
                <div>
                    <i class="fri fri-icon-alert"></i>
                </div>
                <div>
                    <p class="section__title_small">Если во время прохождения игры «Место» у вас возникли какие-то проблемы технического характера – вылеты, зависания и прочие баги – свяжитесь с нашей службой техподдержки. Сделать это можно через настройки игры. Мы обязательно вам поможем.</p>
                    <div class="uk-text-right uk-margin-large-top">
                        <a href="#" class="section__title_small -arrow-right">Сообщить нам</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}