<!-- Slide 9 -->
<section class="section bas">
    <div class="uk-container uk-container-center">
        <h2 class="section__title uk-text-center">Будьте осторожны! <br>Все это может оказаться правдой</h2>
        <div class="uk-text-center">
            <p class="section__text_smaller uk-margin-large-top">Вы можете не верить в теорию множественности миров, в существование <br>
                других измерений и инопланетного разума, вы можете не верить в Бога. <br>
                Это ничего не меняет.Окружающий мир все равно не так прост и понятен, <br>
                как вы думаете. Наша реальность нетак прочна, как кажется. Вокруг <br>
                нас происходит много необъяснимого и загадочного, а ученые или бессильно <br>
                разводят руками или пытаются все отрицать. Поэтому будьте осторожны. <br>
                То, чего, вы уверены, не существует, вполне может существовать.</p>
        </div>
        <div class="uk-text-center uk-margin-large-top">
            <a href="#"><i class="fri fri-apple-btn"></i></a>
            <a href="#"><i class="fri fri-google-btn"></i></a>
        </div>
        <p class="section__text uk-text-center uk-margin-large-top">Скачайте быстро. <br>Получите SMS с прямой ссылкой на игру в Google play и App Store.</p>
        <div class="uk-text-center">
            <div class="callback-widget">
                <form class="uk-form">
                    <div class="uk-form-row">
                        <input type="text" name="phone" class="phone-input" placeholder="Введите телефон" required>
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class="uk-button uk-button-danger">Получить ссылку</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer class="main-footer">
    <nav class="uk-navbar">
        <div class="uk-container uk-container-center">
            <a href="/" class="uk-navbar-brand"><img src="images/logo.png" alt="" class="logo-header"></a>
            <div class="uk-navbar-flip">
                <div class="uk-navbar-content uk-hidden-small">
                    <a href="#"><i class="fri fri-facebook"></i></a>
                    <a href="#"><i class="fri fri-vk"></i></a>
                    <a href="#"><i class="fri fri-youtube"></i></a>
                </div>
            </div>

            <!-- Header navigation -->
            <nav class="uk-navbar-content uk-navbar-center uk-visible-large">
                <ul class="uk-navbar-nav">
                    <li><p class="copyright uk-text-left">&copy;Copyright, 2016</p></li>
                </ul>
            </nav>
            <!-- Header navigation end -->
        </div>
    </nav>
</footer>